.section{
    padding-top: 64px;
    padding-bottom: 64px;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red 2px;
}
