.nav-list{
    .item{
        margin-right: 94px;

        a{
            color: #252B42;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.2px;
        }
    }
}